MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=boardy_laravel
MYSQL_USER=boardy
MYSQL_PASSWORD=change_me
DB_HOST=mysql
DB_DATABASE=boardy_laravel
DB_USERNAME=boardy
DB_PASSWORD=change_me
REDIS_HOST=redis
APP_KEY=
